{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row changeInfos">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-9">
                <h2> Modifier mes informations </h2>
            </div>
        </div>

        <div class="col-lg-offset-1 col-lg-4 menuInfos">
            <ul class="nav nav-list">
                <li >
                    <a href="{{ path('fos_user_profile_show') }}" > Mes informations <span class="glyphicon glyphicon-menu-right"> </span></a>
                </li>
                <li>
                    <a href="{{ path('fos_user_profile_edit') }}"> Modifier mes informations <span class="glyphicon glyphicon-menu-right"> </span></a>
                </li>
                <li>
                    <a href="{{ path('fos_user_change_password') }}"> Changer mon mot de passe <span class="glyphicon glyphicon-menu-right"> </span></a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}"> Déconnexion <span class="glyphicon glyphicon-menu-right"> </span></a>
                </li>
            </ul>
        </div>

        <div class="col-lg-offset-1 col-lg-4">
            <div class="form-group">

                <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.username) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.firstname, 'Prénom') }}
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.firstname) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastname, 'Nom') }}
                        {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.lastname) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.birthdate, 'Date de naissance') }}
                        {{ form_widget(form.birthdate, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.birthdate) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.current_password) }}
                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.current_password) }}
                    </div>
                    <div>
    			        <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                    </div>

                    {{form_rest(form)}}

                </form>
            </div>
        </div>
    </div>
</div>
