{% trans_default_domain 'FOSUserBundle' %}

<div class="container profilContent">
    <div class="row mesInfos">
        <div class="col-lg-2" >
            <img class="thumbnail" src="{{asset(user.profilePicture.url|default('img/avatar.jpg'))}}" style="width: 100%">
        </div>
        <div class="col-lg-7">
            <br><span class="username"> {{user.username}} </span>  <span> - {{user.firstname}} {{user.lastname }} </span> <br> 
            <span class="profile"> Date de naissance: {{user.birthdate | date('d/m/Y')}} </span> <br><br>
            <span class="profile"> Si vous souhaitez échanger votre passion des séries avec moi, vous pouvez me contacter sur l'adresse mail suivante: </span> <span class="profile" style="font-weight: bold">
            {{app.user.email}} </span>
        </div>

        
        <div class="col-lg-3 menuProfil thumbnail">
            <ul class="nav nav-list">
                <li>
                    <a href="{{ path('fos_user_profile_edit') }}"> Modifier mes informations <i class="glyphicon glyphicon-menu-right"> </i></a>
                </li>
                <li>
                    <a href="{{ path('fos_user_change_password') }}"> Changer mon mot de passe <i class="glyphicon glyphicon-menu-right"> </i></a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}"> Déconnexion <i class="glyphicon glyphicon-menu-right"> </i></a>
                </li>
            </ul>
        </div>
    </div>


    <h2> Mon fil d'actualité </h2>
    <div class="row activite">
        <div class="col-lg-1">
            <img class="thumbnail" src="{{asset(user.profilePicture.url|default('img/avatar.jpg')) }}" style="width: 100%">
        </div>
        <div class="col-lg-11">
            Par Marie le 12-10-2017 <br>
            <p> Huic Arabia est conserta, ex alio latere Nabataeis contigua; opima varietate conmerciorum castrisque oppleta validis et castellis, quae ad repellendos gentium vicinarum excursus sollicitudo pervigil veterum per oportunos saltus erexit et cautos. haec quoque civitates habet inter oppida quaedam ingentes Bostram et Gerasam atque Philadelphiam murorum firmitate cautissimas. </p>
        </div>
    </div>
    <div class="row activite">
        <div class="col-lg-1">
            <img class="thumbnail" src="{{asset(user.profilePicture.url|default('img/avatar.jpg'))}}" style="width: 100%">
        </div>
        <div class="col-lg-11">
            Par Marie le 12-10-2017 <br>
            <p> Huic Arabia est conserta, ex alio latere Nabataeis contigua; opima varietate conmerciorum castrisque oppleta validis et castellis, quae ad repellendos gentium vicinarum excursus sollicitudo pervigil veterum per oportunos saltus erexit et cautos. haec quoque civitates habet inter oppida quaedam ingentes Bostram et Gerasam atque Philadelphiam murorum firmitate cautissimas. </p>
        </div>
    </div>
</div>